active_environment: test
environments:
  production:
    description: Full system with 6 Arduino Mega 2560s controlling 576 relays
    firmware:
      board: arduino:avr:mega
      pins: auto
      source: firmware/SlaveController/SlaveController.ino
    hardware:
      controller_type: Arduino Mega 2560
      leds_per_slave: 96
      num_slaves: 6
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyUSB0
      - /dev/ttyUSB1
      - /dev/ttyUSB2
      - /dev/ttyUSB3
      - /dev/ttyUSB4
      - /dev/ttyUSB5
      total_leds: 576
    timing:
      min_relay_delay: 0.05
      min_toggle_interval_ms: 20
  test:
    description: Test setup with 1 Arduino UNO controlling 3 LEDs
    firmware:
      board: arduino:avr:uno
      pins:
      - 13
      - 12
      - 11
      source: firmware/TestController/TestController.ino
    hardware:
      controller_type: Arduino UNO
      leds_per_slave: 3
      num_slaves: 1
      pin_mapping:
        0: 13
        1: 12
        2: 11
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyACM0
      total_leds: 3
    timing:
      min_relay_delay: 0.1
      min_toggle_interval_ms: 10
  testtwo:
    description: Test setup with 1 Arduino UNO and 1 Arduino MEGA controlling each
      3 LEDs
    firmware:
      board: arduino:avr:uno
      pins:
      - 13
      - 12
      - 11
      source: firmware/TestController/TestController.ino
    hardware:
      controller_type: Arduino
      leds_per_slave: 3
      num_slaves: 1
      pin_mapping:
        0: 13
        1: 12
        2: 11
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyACM0
      - /dev/ttyACM1
      total_leds: 6
    timing:
      min_relay_delay: 0.1
      min_toggle_interval_ms: 10
led_assignments:
  V_1:
    assignments:
      '1':
        name: LED_1
        x: 245
        y: 121
      '2':
        name: LED_2
        x: 214
        y: 144
      '3':
        name: LED_3
        x: 176
        y: 125
      '4':
        name: LED_4
        x: 169
        y: 165
      '5':
        name: LED_5
        x: 211
        y: 180
      '6':
        name: LED_6
        x: 254
        y: 165
      '7':
        name: LED_7
        x: 294
        y: 150
    description: 'LED assignment set: V_1'
    name: V_1
  V_2:
    assignments:
      '1':
        name: LED_1
        x: 322
        y: 38
      '2':
        name: LED_2
        x: 290
        y: 35
      '3':
        name: LED_3
        x: 223
        y: 38
    description: 'LED assignment set: V_2'
    name: V_2
