active_environment: test
environments:
  production:
    description: Full system with 6 Arduino Mega 2560s controlling 576 relays
    firmware:
      board: arduino:avr:mega
      pins: auto
      source: firmware/SlaveController/SlaveController.ino
    hardware:
      controller_type: Arduino Mega 2560
      leds_per_slave: 96
      num_slaves: 6
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyUSB0
      - /dev/ttyUSB1
      - /dev/ttyUSB2
      - /dev/ttyUSB3
      - /dev/ttyUSB4
      - /dev/ttyUSB5
      total_leds: 576
    timing:
      min_relay_delay: 0.05
      min_toggle_interval_ms: 20
  test:
    description: Test setup with 1 Arduino UNO controlling 3 LEDs
    firmware:
      board: arduino:avr:uno
      pins:
      - 13
      - 12
      - 11
      source: firmware/TestController/TestController.ino
    hardware:
      controller_type: Arduino UNO
      leds_per_slave: 3
      num_slaves: 1
      pin_mapping:
        0: 13
        1: 12
        2: 11
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyACM0
      total_leds: 3
    timing:
      min_relay_delay: 0.1
      min_toggle_interval_ms: 10
  testtwo:
    description: Test setup with 1 Arduino UNO and 1 Arduino MEGA controlling each
      3 LEDs
    firmware:
      board: arduino:avr:uno
      pins:
      - 13
      - 12
      - 11
      source: firmware/TestController/TestController.ino
    hardware:
      controller_type: Arduino
      leds_per_slave: 3
      num_slaves: 1
      pin_mapping:
        0: 13
        1: 12
        2: 11
      serial_baudrate: 115200
      serial_ports:
      - /dev/ttyACM0
      - /dev/ttyACM1
      total_leds: 6
    timing:
      min_relay_delay: 0.1
      min_toggle_interval_ms: 10
led_assignments:
  V_1:
    assignments:
      '1':
        name: LED_1
        x: 284
        y: 163
      '10':
        name: LED_10
        x: 169
        y: 162
      '100':
        name: LED_100
        x: 377
        y: 337
      '101':
        name: LED_101
        x: 365
        y: 385
      '102':
        name: LED_102
        x: 385
        y: 385
      '103':
        name: LED_103
        x: 338
        y: 401
      '104':
        name: LED_104
        x: 313
        y: 386
      '105':
        name: LED_105
        x: 342
        y: 450
      '106':
        name: LED_106
        x: 347
        y: 475
      '107':
        name: LED_107
        x: 376
        y: 462
      '108':
        name: LED_108
        x: 351
        y: 508
      '109':
        name: LED_109
        x: 376
        y: 510
      '11':
        name: LED_11
        x: 281
        y: 200
      '110':
        name: LED_110
        x: 409
        y: 513
      '111':
        name: LED_111
        x: 393
        y: 475
      '112':
        name: LED_112
        x: 429
        y: 386
      '113':
        name: LED_113
        x: 434
        y: 363
      '114':
        name: LED_114
        x: 373
        y: 202
      '115':
        name: LED_115
        x: 365
        y: 184
      '116':
        name: LED_116
        x: 383
        y: 176
      '117':
        name: LED_117
        x: 411
        y: 182
      '118':
        name: LED_118
        x: 435
        y: 196
      '119':
        name: LED_119
        x: 406
        y: 228
      '12':
        name: LED_12
        x: 298
        y: 182
      '120':
        name: LED_120
        x: 705
        y: 23
      '121':
        name: LED_121
        x: 704
        y: 33
      '122':
        name: LED_122
        x: 705
        y: 46
      '123':
        name: LED_123
        x: 704
        y: 56
      '124':
        name: LED_124
        x: 706
        y: 68
      '125':
        name: LED_125
        x: 704
        y: 79
      '126':
        name: LED_126
        x: 705
        y: 89
      '127':
        name: LED_127
        x: 700
        y: 97
      '128':
        name: LED_128
        x: 708
        y: 106
      '129':
        name: LED_129
        x: 703
        y: 115
      '13':
        name: LED_13
        x: 347
        y: 125
      '130':
        name: LED_130
        x: 709
        y: 121
      '131':
        name: LED_131
        x: 703
        y: 130
      '132':
        name: LED_132
        x: 711
        y: 135
      '133':
        name: LED_133
        x: 703
        y: 143
      '134':
        name: LED_134
        x: 709
        y: 152
      '135':
        name: LED_135
        x: 701
        y: 156
      '136':
        name: LED_136
        x: 704
        y: 167
      '137':
        name: LED_137
        x: 709
        y: 175
      '138':
        name: LED_138
        x: 702
        y: 184
      '139':
        name: LED_139
        x: 708
        y: 192
      '14':
        name: LED_14
        x: 362
        y: 144
      '140':
        name: LED_140
        x: 702
        y: 200
      '141':
        name: LED_141
        x: 709
        y: 208
      '142':
        name: LED_142
        x: 702
        y: 215
      '143':
        name: LED_143
        x: 709
        y: 222
      '144':
        name: LED_144
        x: 703
        y: 230
      '145':
        name: LED_145
        x: 710
        y: 236
      '146':
        name: LED_146
        x: 537
        y: 347
      '15':
        name: LED_15
        x: 358
        y: 159
      '150':
        name: LED_150
        x: 536
        y: 354
      '151':
        name: LED_151
        x: 539
        y: 360
      '152':
        name: LED_152
        x: 536
        y: 366
      '153':
        name: LED_153
        x: 539
        y: 372
      '154':
        name: LED_154
        x: 536
        y: 378
      '155':
        name: LED_155
        x: 539
        y: 384
      '156':
        name: LED_156
        x: 537
        y: 390
      '157':
        name: LED_157
        x: 539
        y: 397
      '158':
        name: LED_158
        x: 536
        y: 403
      '159':
        name: LED_159
        x: 539
        y: 408
      '16':
        name: LED_16
        x: 347
        y: 208
      '160':
        name: LED_160
        x: 536
        y: 414
      '161':
        name: LED_161
        x: 539
        y: 419
      '162':
        name: LED_162
        x: 537
        y: 425
      '163':
        name: LED_163
        x: 539
        y: 431
      '164':
        name: LED_164
        x: 537
        y: 437
      '165':
        name: LED_165
        x: 538
        y: 444
      '166':
        name: LED_166
        x: 536
        y: 449
      '167':
        name: LED_167
        x: 539
        y: 455
      '168':
        name: LED_168
        x: 537
        y: 461
      '169':
        name: LED_169
        x: 539
        y: 467
      '17':
        name: LED_17
        x: 327
        y: 186
      '171':
        name: LED_171
        x: 537
        y: 473
      '172':
        name: LED_172
        x: 539
        y: 479
      '173':
        name: LED_173
        x: 536
        y: 486
      '174':
        name: LED_174
        x: 539
        y: 491
      '175':
        name: LED_175
        x: 536
        y: 497
      '176':
        name: LED_176
        x: 539
        y: 503
      '177':
        name: LED_177
        x: 536
        y: 509
      '178':
        name: LED_178
        x: 539
        y: 515
      '179':
        name: LED_179
        x: 536
        y: 522
      '18':
        name: LED_18
        x: 290
        y: 150
      '180':
        name: LED_180
        x: 540
        y: 527
      '181':
        name: LED_181
        x: 537
        y: 532
      '182':
        name: LED_182
        x: 539
        y: 538
      '183':
        name: LED_183
        x: 537
        y: 544
      '184':
        name: LED_184
        x: 539
        y: 550
      '185':
        name: LED_185
        x: 537
        y: 556
      '186':
        name: LED_186
        x: 538
        y: 562
      '187':
        name: LED_187
        x: 537
        y: 569
      '188':
        name: LED_188
        x: 539
        y: 574
      '189':
        name: LED_189
        x: 537
        y: 580
      '19':
        name: LED_19
        x: 319
        y: 40
      '190':
        name: LED_190
        x: 539
        y: 587
      '192':
        name: LED_192
        x: 672
        y: 346
      '193':
        name: LED_193
        x: 673
        y: 352
      '194':
        name: LED_194
        x: 673
        y: 359
      '195':
        name: LED_195
        x: 673
        y: 366
      '196':
        name: LED_196
        x: 672
        y: 373
      '197':
        name: LED_197
        x: 675
        y: 378
      '198':
        name: LED_198
        x: 670
        y: 384
      '199':
        name: LED_199
        x: 674
        y: 390
      '2':
        name: LED_2
        x: 287
        y: 35
      '20':
        name: LED_20
        x: 368
        y: 63
      '200':
        name: LED_200
        x: 671
        y: 395
      '201':
        name: LED_201
        x: 674
        y: 402
      '202':
        name: LED_202
        x: 672
        y: 408
      '203':
        name: LED_203
        x: 674
        y: 414
      '204':
        name: LED_204
        x: 672
        y: 421
      '205':
        name: LED_205
        x: 675
        y: 426
      '206':
        name: LED_206
        x: 671
        y: 432
      '207':
        name: LED_207
        x: 674
        y: 438
      '208':
        name: LED_208
        x: 672
        y: 444
      '209':
        name: LED_209
        x: 674
        y: 450
      '21':
        name: LED_21
        x: 399
        y: 78
      '210':
        name: LED_210
        x: 671
        y: 455
      '211':
        name: LED_211
        x: 674
        y: 461
      '212':
        name: LED_212
        x: 671
        y: 466
      '213':
        name: LED_213
        x: 674
        y: 473
      '214':
        name: LED_214
        x: 671
        y: 479
      '215':
        name: LED_215
        x: 674
        y: 485
      '217':
        name: LED_217
        x: 671
        y: 490
      '218':
        name: LED_218
        x: 673
        y: 496
      '219':
        name: LED_219
        x: 673
        y: 502
      '22':
        name: LED_22
        x: 417
        y: 86
      '220':
        name: LED_220
        x: 674
        y: 508
      '221':
        name: LED_221
        x: 673
        y: 514
      '222':
        name: LED_222
        x: 673
        y: 520
      '223':
        name: LED_223
        x: 673
        y: 526
      '224':
        name: LED_224
        x: 673
        y: 532
      '225':
        name: LED_225
        x: 673
        y: 538
      '226':
        name: LED_226
        x: 673
        y: 544
      '227':
        name: LED_227
        x: 673
        y: 550
      '228':
        name: LED_228
        x: 672
        y: 556
      '229':
        name: LED_229
        x: 673
        y: 562
      '23':
        name: LED_23
        x: 364
        y: 89
      '230':
        name: LED_230
        x: 672
        y: 569
      '231':
        name: LED_231
        x: 673
        y: 575
      '232':
        name: LED_232
        x: 673
        y: 580
      '233':
        name: LED_233
        x: 672
        y: 586
      '234':
        name: LED_234
        x: 267
        y: 355
      '24':
        name: LED_24
        x: 429
        y: 142
      '25':
        name: LED_25
        x: 397
        y: 160
      '26':
        name: LED_26
        x: 422
        y: 167
      '27':
        name: LED_27
        x: 486
        y: 130
      '28':
        name: LED_28
        x: 479
        y: 156
      '29':
        name: LED_29
        x: 562
        y: 185
      '3':
        name: LED_3
        x: 220
        y: 37
      '30':
        name: LED_30
        x: 576
        y: 206
      '31':
        name: LED_31
        x: 580
        y: 224
      '32':
        name: LED_32
        x: 620
        y: 250
      '33':
        name: LED_33
        x: 638
        y: 264
      '34':
        name: LED_34
        x: 656
        y: 275
      '35':
        name: LED_35
        x: 641
        y: 282
      '36':
        name: LED_36
        x: 623
        y: 279
      '37':
        name: LED_37
        x: 589
        y: 288
      '38':
        name: LED_38
        x: 563
        y: 330
      '39':
        name: LED_39
        x: 543
        y: 304
      '4':
        name: LED_4
        x: 310
        y: 23
      '40':
        name: LED_40
        x: 537
        y: 273
      '41':
        name: LED_41
        x: 505
        y: 275
      '42':
        name: LED_42
        x: 499
        y: 252
      '43':
        name: LED_43
        x: 487
        y: 231
      '44':
        name: LED_44
        x: 481
        y: 202
      '45':
        name: LED_45
        x: 476
        y: 247
      '46':
        name: LED_46
        x: 446
        y: 252
      '47':
        name: LED_47
        x: 429
        y: 246
      '48':
        name: LED_48
        x: 432
        y: 209
      '49':
        name: LED_49
        x: 406
        y: 209
      '5':
        name: LED_5
        x: 246
        y: 116
      '50':
        name: LED_50
        x: 201
        y: 247
      '51':
        name: LED_51
        x: 315
        y: 241
      '52':
        name: LED_52
        x: 324
        y: 283
      '53':
        name: LED_53
        x: 361
        y: 267
      '54':
        name: LED_54
        x: 390
        y: 248
      '55':
        name: LED_55
        x: 455
        y: 275
      '56':
        name: LED_56
        x: 467
        y: 261
      '57':
        name: LED_57
        x: 478
        y: 284
      '58':
        name: LED_58
        x: 490
        y: 289
      '59':
        name: LED_59
        x: 513
        y: 308
      '6':
        name: LED_6
        x: 179
        y: 122
      '60':
        name: LED_60
        x: 455
        y: 299
      '61':
        name: LED_61
        x: 447
        y: 324
      '62':
        name: LED_62
        x: 411
        y: 330
      '63':
        name: LED_63
        x: 397
        y: 299
      '64':
        name: LED_64
        x: 393
        y: 283
      '65':
        name: LED_65
        x: 386
        y: 298
      '66':
        name: LED_66
        x: 351
        y: 275
      '67':
        name: LED_67
        x: 86
        y: 87
      '68':
        name: LED_68
        x: 27
        y: 182
      '69':
        name: LED_69
        x: 25
        y: 238
      '7':
        name: LED_7
        x: 213
        y: 144
      '70':
        name: LED_70
        x: 44
        y: 325
      '71':
        name: LED_71
        x: 92
        y: 388
      '72':
        name: LED_72
        x: 98
        y: 429
      '73':
        name: LED_73
        x: 155
        y: 374
      '74':
        name: LED_74
        x: 175
        y: 395
      '75':
        name: LED_75
        x: 185
        y: 435
      '76':
        name: LED_76
        x: 211
        y: 417
      '77':
        name: LED_77
        x: 239
        y: 420
      '78':
        name: LED_78
        x: 226
        y: 444
      '79':
        name: LED_79
        x: 265
        y: 449
      '8':
        name: LED_8
        x: 213
        y: 183
      '80':
        name: LED_80
        x: 297
        y: 446
      '81':
        name: LED_81
        x: 258
        y: 380
      '82':
        name: LED_82
        x: 230
        y: 385
      '83':
        name: LED_83
        x: 193
        y: 368
      '84':
        name: LED_84
        x: 219
        y: 310
      '85':
        name: LED_85
        x: 185
        y: 322
      '86':
        name: LED_86
        x: 187
        y: 284
      '87':
        name: LED_87
        x: 230
        y: 289
      '88':
        name: LED_88
        x: 251
        y: 284
      '89':
        name: LED_89
        x: 234
        y: 266
      '9':
        name: LED_9
        x: 255
        y: 167
      '90':
        name: LED_90
        x: 246
        y: 257
      '91':
        name: LED_91
        x: 217
        y: 219
      '92':
        name: LED_92
        x: 240
        y: 222
      '93':
        name: LED_93
        x: 248
        y: 194
      '94':
        name: LED_94
        x: 315
        y: 304
      '95':
        name: LED_95
        x: 329
        y: 304
      '96':
        name: LED_96
        x: 300
        y: 305
      '97':
        name: LED_97
        x: 312
        y: 331
      '98':
        name: LED_98
        x: 356
        y: 305
      '99':
        name: LED_99
        x: 354
        y: 334
    description: 'LED assignment set: V_1'
    name: V_1
  V_2:
    assignments:
      '1':
        name: LED_1
        x: 322
        y: 38
      '2':
        name: LED_2
        x: 290
        y: 35
      '3':
        name: LED_3
        x: 223
        y: 38
    description: 'LED assignment set: V_2'
    name: V_2
